body {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: red; */
    background: linear-gradient(180deg, #1C2230 0%, #252C37 5.21%, #181E2A 13.54%, #181E2A 19.27%, #181E2A 28.65%, #181E2A 31.25%, #181E2A 97.4%);
}