.stay-productive {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    @include desktop {
        flex-direction: row;
        justify-content: center;
    }

    &_image-section {
        img {
            width: 100%;
            height: 215px;

            @include desktop {
                height: 460px;
            }
        }
    }

    &_text-section {
        padding-top: 20px;

        @include desktop {
            padding-top: 0px;
            padding-left: 60px;
        }

        h1 {
            font-size: 20px;
            font-weight: 500;
            padding-top: 20px;
        }

        .paragraph-one,
        .paragraph-two {
            min-width: 280px;
            max-width: 460px;
            padding-top: 15px;
            padding-bottom: 10px;
        }

        .see-how-link {
            display: flex;
            flex-direction: row;
            align-items: center;
            border-bottom: 2px solid $luminousGreen;
            width: 161px;

            a {
                color: $luminousGreen;
                padding-right: 15px;
            }
        }
    }
}