//Typography
$font-title: 'Roboto', sans-serif;
$font-body: 'Roboto', sans-serif;

//Color
$greyblack: #181F2B;
$luminousGreen: #62E0D9;
$luminousblue: #49BED3;
$luminouslightblue: #46B8D2;
$darkblue: #21293C;
$white: #FFFFFF;
$darkblue: #0C1524;
$balckishblue:#1C2230